<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href='/pushmeetings' >Add Meetings</a>
        <a href='/pushvendors' >Add Vendors</a>
        <a href='/pushnews'>Add News</a>
        <!-- <a href='/pushgallery'>Add Gallery</a> -->
    </nav>
    <h3>Add Vendors</h3>
    <form action='/submitvendors' method="POST" >
        <p>State</p>
        <select name="state" size="7" >
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Orissa">Orissa</option>
            <option value="Punjab">Punjab</option>
            <option value="Pondicherry">Pondicherry</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttrakhand">Uttrakhand</option>
            <option value="West Bengal">West Bengal</option>
        </select>        
        <p>Name</p>
        <input type='text' name='name'/>
        <p>Contact</p>
        <input type='tel' name='contact' />
        <p>Address</p>
        <input type='type' name='address' />
        <br/>
        <button onclick=document.getElementById(complete).style.display(block) type='submit'>Add</button>
        <p  id='complete' style='color: red; display: none' >Done</p>
    </form>
    
</body>
</html>