<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href='/pushmeetings' >Add Meetings</a>
        <a href='/pushvendors' >Add Vendors</a>
        <a href='/pushnews'>Add News</a>
        <a href='/pushgallery'>Add Gallery</a>
    </nav>
    <h3>Add News</h3>
    <form action='/submitnews' method='POST'>
        <p>Heading</p>
        <input type='text' name='heading'/>
        <p>Date</p>
        <input type="date" name='date'/>
        <p>Description</p>
        <input type='text' name='description'/>
        <p>Details</p>
        <input type='text' name='details'/>
        <br/>
        <button type='submit'>Add</button>
    </form>
    
</body>
</html>